<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="author" content="; sekiyika" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="SHORTCUT ICON" href="http://www.baidu.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="style/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style/docs.css" />
    <link rel="stylesheet" type="text/css" href="style/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="style/datepicker.css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <title>员工信息 - 添加</title>
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">结算中心</a></li>
                <li>
                    <a href="yingfukuanshangjia.html">应付款商家</a>
                    <ul class="sidebar-subnav">
                        <li><a href="#">添加应付款商家</a></li>
                        <li><a href="#">修改应付款商家</a></li>
                    </ul>
                </li>
                <li><a href="yingshoukuanzhifugongsi.html">应收款支付公司</a></li>
            </ul>
		</div>
		
        <div id="page-content-wrapper">
            <div class="content-header">
                <h1>员工信息 - 添加</h1>
            </div>
            <div style="padding: 20px;">

                <form class="form-horizontal" role="form">
				
				
				<div class="form-group">
                        <label class="col-sm-1 control-label" for="exampleInputEmail2">员工姓名</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="exampleInputEmail2" placeholder="员工姓名" />
                        </div>
                        <button type="button" class="canzhao btn btn-default pull-left invisible">今天</button>
                        <label class="col-sm-1 control-label">身份证号码</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="身份证号码"  />
                        </div>
						 <label class="col-sm-1 control-label">啦啦啦</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="啦啦啦"  />
                        </div>
                    </div>
					
					<div class="form-group">
                        <label class="col-sm-1 control-label" for="exampleInputEmail2">员工姓名</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="exampleInputEmail2" placeholder="员工姓名" />
                        </div>
                        <button type="button" class="canzhao btn btn-default pull-left invisible">今天</button>
                        <label class="col-sm-1 control-label">身份证号码</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="身份证号码"  />
                        </div>
						 <label class="col-sm-1 control-label">啦啦啦</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="啦啦啦"  />
                        </div>
                    </div>
                </form>

                
                
            </div>
            <div class="inset">
                <hr/>
                <strong>@Facewin</strong> Email: Facewin@facewin.com
            </div>
        </div>
    </div>
</body>
</html>