
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="author" content="; sekiyika" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="SHORTCUT ICON" href="http://www.baidu.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="style/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style/docs.css" />
    <link rel="stylesheet" type="text/css" href="style/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="style/datepicker.css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <title>结算中心 - test</title>
</head>
<body>
    <div id="wrapper">
	
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">结算中心</a></li>
                <li><a href="yingfukuanshangjia.html">应付款商家</a></li>
                <li><a href="yingshoukuanzhifugongsi.html">应收款支付公司</a></li>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div class="content-header">
                <h1>添加新商户</h1>
            </div>
            <div style="padding:20px;">
            
               			
               <form class="form-horizontal" role="form">
			   
                
			
				
				
			   <div class="form-group">


					 <label  for="inputholdersname" >商户名称</label>
					 <div class="controls">
					 
					 <input type='text' id="inputholdersname" placeholder="商户名称">
					  </div>
				</div>	  
               <div class="control-group">
                    
   				
					 <label "control-label" for="inputholderlocal">商户经营地</label>
					 <div class="controls">
					 <input type='text' id="inputholderlocal" placeholder="商户经营地">
					  
					  </div>
				</div>	  
			    <div class="control-group">
                    
   				
					 <label "control-label" for="inputcontractbegin">合同起始日期</label>
					 <div class="controls">
					 <input type='text' id="inputcontractbegin" placeholder="合同起始日期">
					  
					  </div>
				</div>	  
                <div class="control-group">
                    
   				
					 <label "control-label" for="inputcontractend">合同结束日期</label>
					 <div class="controls">
					 <input type='text' id="inputcontractend" placeholder="合同结束日期">
					  
					  </div>
				</div>	
				  <div class="control-group">
                    
   				
					 <label "control-label" for="inputholderlev">商户层级</label>
					 <div class="controls">
					<select>
					<option>1级</option>
					<option>2级</option>
					<option>3级</option>
					</select>
					  </div>
				</div>	
				<div class="control-group">
                    
   				
					 <label "control-label" for="inputupperholder">所属父商户</label>
					 <div class="controls">
					<select>
					<option>韵达集团-1级</option>
					<option>韵达北京分拨中心-2级</option>
					<option>贝因美集团-1级</option>
					</select>
					  </div>
				</div>	
                        <div class="col-sm-1"> </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-default">查询</button>
                            <button type="submit" class="btn btn-default">导出</button>
                            <button type="submit" class="btn btn-default">确认支付</button>
                        </div>
				
                 </div>
                <div class="col-md-6">
						   <div class="control-group">


					 <label class="control-label" for="inputholdersname" value=123>商户名称</label>
					 <div class="controls">
					 
					 <input type='text' id="inputholdersname" placeholder="商户名称">
					  </div>
				</div>	  
               <div class="control-group">
                    
   				
					 <label "control-label" for="inputholderlocal">商户经营地</label>
					 <div class="controls">
					 <input type='text' id="inputholderlocal" placeholder="商户经营地">
					  
					  </div>
				</div>	  
			    <div class="control-group">
                    
   				
					 <label "control-label" for="inputcontractbegin">合同起始日期</label>
					 <div class="controls">
					 <input type='text' id="inputcontractbegin" placeholder="合同起始日期">
					  
					  </div>
				</div>	  
                <div class="control-group">
                    
   				
					 <label "control-label" for="inputcontractend">合同结束日期</label>
					 <div class="controls">
					 <input type='text' id="inputcontractend" placeholder="合同结束日期">
					  
					  </div>
				</div>	
				  <div class="control-group">
                    
   				
					 <label "control-label" for="inputholderlev">商户层级</label>
					 <div class="controls">
					<select>
					<option>1级</option>
					<option>2级</option>
					<option>3级</option>
					</select>
					  </div>
				</div>	
				<div class="control-group">
                    
   				
					 <label "control-label" for="inputupperholder">所属父商户</label>
					 <div class="controls">
					<select>
					<option>韵达集团-1级</option>
					<option>韵达北京分拨中心-2级</option>
					<option>贝因美集团-1级</option>
					</select>
					  </div>
				</div>	
                        <div class="col-sm-1"> </div>
                        <div class="col-sm-2">
				</div>
               
				</div>
          </form>

                <p>应付账款总额（元）：&yen;<em>18900</em></p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>选择<br/><input type="checkbox"/></th>
                            <th>付款单号</th>
                            <th>商家ID</th>
                            <th>商家名称</th>
                            <th>结算单号</th>
                            <th>结算期间</th>
                            <th>应付账款</th>
                            <th>收款人姓名</th>
                            <th>银行名称</th>
                            <th>银行卡号</th>
                            <th>开户支行名称</th>
                            <th>省</th>
                            <th>市</th>
                            <th>结算单状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>P001</td>
                            <td>商家id</td>
                            <td>京东商城</td>
                            <td>B2013102100001</td>
                            <td>2013-09-1至2013-9-30</td>
                            <td>￥20,000</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>待支付</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>P001</td>
                            <td>商家id</td>
                            <td>京东商城</td>
                            <td>B2013102100001</td>
                            <td>2013-09-1至2013-9-30</td>
                            <td>￥20,000</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>待支付</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>P001</td>
                            <td>商家id</td>
                            <td>京东商城</td>
                            <td>B2013102100001</td>
                            <td>2013-09-1至2013-9-30</td>
                            <td>￥20,000</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>待支付</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>P001</td>
                            <td>商家id</td>
                            <td>京东商城</td>
                            <td>B2013102100001</td>
                            <td>2013-09-1至2013-9-30</td>
                            <td>￥20,000</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>待支付</td>
                        </tr>
                    </tbody>
                </table>

                <p>
                    说明：商家的收款人姓名、银行名称、银行卡号、开户支行名称、省、市项从“运营平台”的货款协议中获取；
                </p>

                <button type="button" class="btn btn-primary">您确认已经在网银完成对商家的付款了吗？</button>

            </div>

            <div class="inset">
                <hr/>
                <strong>@Facewin</strong> Email:shiweishi@facewin.com.cn
            </div>
        </div>
    </div>
</body>
</html>