
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="author" content="; sekiyika" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="SHORTCUT ICON" href="http://www.baidu.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="style/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style/docs.css" />
    <link rel="stylesheet" type="text/css" href="style/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="style/datepicker.css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <title>结算中心 - test</title>
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">商户管理</a></li>
                <li><a href="yingfukuanshangjia.html">五险一金帐套维护</a></li>
                <li><a href="yingshoukuanzhifugongsi.html">人事管理</a></li>
                <li><a href="shangjiajiesuanzhanghuchaxun.html">薪资绩效管理</a></li>
                <li><a href="jiesuandanqueren.html">财务对账</a></li>
				<li><a href="jiesuandanqueren.html">退出登录</a></li>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div class="content-header">
                <h1>添加新商户</h1>
            </div>
            <div style="padding: 20px;">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                       <div class="row">
					   
					   
<div class="col-xs-2">                       
					   <label class=" control-label" for="inputholdername" >商户名称 </label>
            
  
                           <input type="text" class="form-control" id="inputholdername" placeholder="商户名称" />
						 
</div>

<div class="col-xs-2">
						<label class="control-label" for="inputholderloca">商户经营地</label>
                        
                            <input type="text" class="form-control" id="inputholderloca" placeholder="商户经营地" />
                        
						
</div>
			<div class="col-xs-2">          			
                        <label class="control-label" for="contractbeg">合同起始时间</label>
                        
                           <input type="text" class="date form-control" id="exampleInputEmail2" placeholder="" data-date-format="yyyy-mm-dd"/>
                        
						

			</div>
			<div class="col-xs-2">          			
                        <label class="control-label" for="contractend">合同结束时间</label>
                        
                             <input type="text" class="date form-control" id="exampleInputEmail2" placeholder="" data-date-format="yyyy-mm-dd"/>
                        
						

			</div>	
			<div class="col-xs-1">          			
                        <label class="control-label" for="holderlev">商户层级</label>
                        
                            <select type="text" class="form-control" id="holderlev" placeholder="客户层级" >
                           <option> 1级</option>
						   <option> 2级</option>
						   <option> 3级</option>
						   </select>
						

			</div>	 
					
			<div class="col-xs-2">          			
                        <label class="control-label" for="fatherholder">所属父商户</label>
                        
                            <select type="text" class="form-control " id="fatherholder" placeholder="所属父商户" >
                           <option> 韵达总部</option>
						   <option> 韵达某分拨中心</option>
						   <option> 贝因美总部</option>
						   </select>
						

			</div>

		
			</div>
<div class="row">							
							<div class="col-xs-1">          			
                        <label class=" control-label" for="stype">服务类别</label>
                        
                            <select type="text" class="form-control " id="stype" placeholder="服务类别" >
                           <option> 代理</option>
						   <option> 派遣</option>
						   <option> 其他</option>
						   </select>
						
						</div>
							
							<div class="col-xs-1">          			
                        <label class="control-label" for="ntype">开票类别</label>
                        
						
                           <select type="text" class="form-control " id="ntype" placeholder="开票类别" >
                           <option> 增值税票</option>
						   <option> 普通发票</option>
						   <option> 其他</option>
						   </select>
						</div>
						<div class="col-xs-2">          			
                        <label class=" control-label" for="smount">服务费价格</label>
                        
                            <input type="text" class="form-control" id="smount" placeholder="服务费价格" />
                        
						

			</div>	
						
						
						
						
						
						
						
						
						
						
						
			</div>	 			
						
						
						
						
						
						
						
						
						
						"
						
						
             </form>

                <button type="button" class="btn btn-primary btn-lg ">保存</button>
				
                <button type="button"  class="btn btn-danger btn-lg">取消</button>
            </div>

            <div class="inset">
                <hr/>
                <strong>@facewin.com.cn</strong> Email: shiweishi@facewin.com.cn
            </div>
        </div>
    </div>
</body>
</html>