<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="author" content="; sekiyika"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="SHORTCUT ICON" href="http://www.baidu.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="style/docs.css"/>
    <link rel="stylesheet" type="text/css" href="style/sidebar.css"/>
    <link rel="stylesheet" type="text/css" href="style/datepicker.css"/>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <title>社保局对账结果</title>
</head>
<body>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">城市对账</a></li>
            <li>
                <ul class="sidebar-subnav">
                    <li><a href="index.html">返回首页</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        <div class="content-header">
            <h1>社保局对账结果</h1>
        </div>
        <div style="padding: 20px;">
            <h3>只存在本系统的记录：</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>缴费类型</th>
                    <th>缴纳费用</th>
                    <th>缴纳时间</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>史唯实</td>
                    <td>商业保险</td>
                    <td>120</td>
                    <td>2014-03</td>
                </tr>
                <tr>
                    <td>史唯实</td>
                    <td>商业保险</td>
                    <td>120</td>
                    <td>2014-03</td>
                </tr>
                <tr>
                    <td>史唯实</td>
                    <td>商业保险</td>
                    <td>120</td>
                    <td>2014-03</td>
                </tr>
                </tbody>
            </table>


            <h3>只存在社保局的记录：</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>缴费类型</th>
                    <th>缴纳费用</th>
                    <th>缴纳时间</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>史唯实</td>
                    <td>商业保险</td>
                    <td>120</td>
                    <td>2014-03</td>
                </tr>
                <tr>
                    <td>史唯实</td>
                    <td>商业保险</td>
                    <td>120</td>
                    <td>2014-03</td>
                </tr>
                <tr>
                    <td>史唯实</td>
                    <td>商业保险</td>
                    <td>120</td>
                    <td>2014-03</td>
                </tr>
                </tbody>
            </table>

            <h3>不一致记录：</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>系统缴费类型</th>
                    <th>系统缴纳费用</th>
                    <th>系统缴纳时间</th>
                    <th>社保局缴费类型</th>
                    <th>社保局缴纳费用</th>
                    <th>社保局缴纳时间</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>史唯实</td>
                    <td>商业保险</td>
                    <td>120</td>
                    <td>2014-03</td>
                    <td>商业保险</td>
                    <td>120</td>
                    <td>2014-03</td>
                </tr>
                <tr>
                    <td>史唯实</td>
                    <td>商业保险</td>
                    <td>120</td>
                    <td>2014-03</td>
                    <td>商业保险</td>
                    <td>120</td>
                    <td>2014-03</td>
                </tr>
                <tr>
                    <td>史唯实</td>
                    <td>商业保险</td>
                    <td>120</td>
                    <td>2014-03</td>
                    <td>商业保险</td>
                    <td>120</td>
                    <td>2014-03</td>
                </tr>
                </tbody>
            </table>
            <div class="form-group">
                <div class="col-sm-6">
                    <a href="checkMoneyByCity3.html" class="btn btn-primary">导出结果</a>
                </div>
            </div>
            <div class="inset">
                <hr/>
                <strong>@facewin.com.cn</strong> Email: shiweishi@facewin.com.cn
            </div>
        </div>
    </div>
</body>
</html>