
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="author" content="; sekiyika" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="SHORTCUT ICON" href="http://www.baidu.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="style/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style/docs.css" />
    <link rel="stylesheet" type="text/css" href="style/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="style/datepicker.css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <title>人员变动查询</title>
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">人员变动查询</a></li>
                <li>
                    <ul class="sidebar-subnav">
                        <li><a href="index.html">返回首页</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div class="content-header">
                <h1>人员变动查询</h1>
            </div>
            <div style="padding: 20px;">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="exampleInputEmail2">商户代码</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="exampleInputEmail2" placeholder="请输入商户代码" />
                        </div>
                        <label class="col-sm-1 control-label">城市</label>
                        <div class="col-sm-2">
                            <select type="text" class="form-control" id="holderlev" placeholder="城市" >
                                <option>北京</option>
                                <option>上海</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="exampleInputEmail2">起始日期</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control date" id="exampleInputEmail2" placeholder="" data-date-format="yyyy-mm-dd"/>
                        </div>
                      <!--   <button type="button col-sm-1" class="canzhao btn btn-default pull-left" data-value="2014-01-12">参照</button> -->
                        <label class="col-sm-1 control-label">至</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control date" id="exampleInputEmail2" placeholder="" data-date-format="yyyy-mm-dd"/>
                        </div>
					</div>
					
                    <div class="form-group">
                        <div class="col-sm-1"> </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary">查询</button>
                        </div>

                    </div>
                </form>

                <h3>离职人员：</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>出生日期</th>
                        <th>工号</th>
                        <th>商户工号</th>
                        <th>所属商户</th>
                        <th>入职日期</th>
                        <th>离职日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>史唯实</td>
                        <td>1988-09-14</td>
                        <td>001</td>
                        <td>A0131</td>
                        <td>韵达-北京韵达-北京怀柔韵达</td>
                        <td>2013-10-10</td>
                        <td>2013-10-10</td>
                        <td><a href="viewEmployee.html">查看</a></td>
                    </tr>
                    <tr>
                        <td>史唯实</td>
                        <td>1988-09-14</td>
                        <td>001</td>
                        <td>A0131</td>
                        <td>韵达-北京韵达-北京怀柔韵达</td>
                        <td>---</td>
                        <td>2013-10-10</td>
                        <td><a href="viewEmployee.html">查看</a></td>
                    </tr>
                    <tr>
                        <td>史唯实</td>
                        <td>1988-09-14</td>
                        <td>001</td>
                        <td>A0131</td>
                        <td>韵达-北京韵达-北京怀柔韵达</td>
                        <td>2013-10-10</td>
                        <td>2013-10-10</td>
                        <td><a href="viewEmployee.html">查看</a></td>
                    </tr>
                    </tbody>
                </table>


                <h3>入职人员：</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>出生日期</th>
                        <th>工号</th>
                        <th>商户工号</th>
                        <th>所属商户</th>
                        <th>入职日期</th>
                        <th>离职日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>史唯实</td>
                        <td>1988-09-14</td>
                        <td>001</td>
                        <td>A0131</td>
                        <td>韵达-北京韵达-北京怀柔韵达</td>
                        <td>2013-10-10</td>
                        <td>--</td>
                        <td><a href="viewEmployee.html">查看</a></td>
                    </tr>
                    <tr>
                        <td>史唯实</td>
                        <td>1988-09-14</td>
                        <td>001</td>
                        <td>A0131</td>
                        <td>韵达-北京韵达-北京怀柔韵达</td>
                        <td>2013-10-10</td>
                        <td>---</td>
                        <td><a href="viewEmployee.html">查看</a></td>
                    </tr>
                    <tr>
                        <td>史唯实</td>
                        <td>1988-09-14</td>
                        <td>001</td>
                        <td>A0131</td>
                        <td>韵达-北京韵达-北京怀柔韵达</td>
                        <td>2013-10-10</td>
                        <td>--</td>
                        <td><a href="viewEmployee.html">查看</a></td>
                    </tr>
                    </tbody>
                </table>
                <!-- <div class="clearfix">
                    <div class="pull-right">
                        <div class=""><div class="pagination-inner"><ul class="pagination">

                            <li class=" active"><a href="/tools/speed/index?">1</a></li>
                            <li class=""><a href="/tools/speed/index?page_no=2">2</a></li>
                            <li class=""><a href="/tools/speed/index?page_no=3">3</a></li>
                            <li class=""><a href="/tools/speed/index?page_no=4">4</a></li>
                            <li class=""><a href="/tools/speed/index?page_no=5">5</a></li>
                            <li class=""><a href="/tools/speed/index?page_no=6">6</a></li>
                            <li class=""><a href="/tools/speed/index?page_no=2">下一页</a></li>
                        </ul></div></div>
                    </div>
                </div> -->
                <div class="inset">
                    <hr/>
                    <strong>@facewin.com.cn</strong> Email: shiweishi@facewin.com.cn
                </div>
            </div>
        </div>
    </body>
    </html>