<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="author" content="; sekiyika"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="SHORTCUT ICON" href="http://www.baidu.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="style/docs.css"/>
    <link rel="stylesheet" type="text/css" href="style/sidebar.css"/>
    <link rel="stylesheet" type="text/css" href="style/datepicker.css"/>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <title>请款信息 - 确认</title>
</head>
<body>
<div id="wrapper">
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="#">每月请款</a></li>
        <li>
            <ul class="sidebar-subnav">
                <li><a href="requestMoney.html">每月请款</a></li>
                <li><a href="requestMoneyHistory.html">请款历史</a></li>
                <li><a href="index.html">返回首页</a></li>
            </ul>
        </li>
    </ul>
</div>
<div id="page-content-wrapper">
<div class="content-header">
    <h1>请款信息 - 确认</h1>
</div>
<div style="padding: 20px;">

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-1 control-label" for="exampleInputEmail2">商户代码：</label>

            <div class="col-sm-2">
                0001
            </div>
            <button type="button" class="canzhao btn btn-default pull-left invisible">今天</button>
            <label class="col-sm-1 control-label">商户名称：</label>

            <div class="col-sm-2">
                爱茵美
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label" for="exampleInputEmail2">商户经营地：</label>

            <div class="col-sm-2">
                上海
            </div>
            <button type="button" class="canzhao btn btn-default pull-left invisible">今天</button>
            <label class="col-sm-1 control-label">所属父商户：</label>

            <div class="col-sm-2">
                爱茵美
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">请款月份：</label>

            <div class="col-sm-2">
                3月
            </div>
            <button type="button" class="canzhao btn btn-default pull-left invisible">今天</button>
            <label class="col-sm-1 control-label">请款金额：</label>

            <div class="col-sm-2">
                12000
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" for="exampleInputEmail2">收到金额：</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="请输入收到的商家款金额"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary"> 确 认 </button>
            </div>
        </div>
    </form>
</div>
<div class="inset">
    <hr/>
    <strong>@Facewin</strong> Email: Facewin@facewin.com
</div>
</div>
</div>
</body>
</html>