<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="author" content="; sekiyika"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="SHORTCUT ICON" href="http://www.baidu.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="style/docs.css"/>
    <link rel="stylesheet" type="text/css" href="style/sidebar.css"/>
    <link rel="stylesheet" type="text/css" href="style/datepicker.css"/>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <title>商户信息平台 - 欢迎页</title>
</head>
<body>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="index.html">商户综合信息平台</a></li>
            <li>
                <a href="holderQuerry.html">商户信息</a>
            </li>
            <li>
                <a href="queryInsurance.html">帐套信息</a>
            </li>
            <li>
                <a href="addSupplymentary.html">补缴退费</a>
            </li>
            <li>
                <a href="queryEmployee.html">员工信息</a>
            </li>
            <li>
                <a href="还没有.html">每月请款</a>
            </li>
            <li>
                <a href="还没有.html">城市对账</a>
            </li>
            <li>
                <a href="还没有.html">城市对人</a>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        <div class="content-header">
            <h1>欢迎admin登陆</h1>
        </div>
        <div style="padding: 20px;">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>用户名</th>
                    <th>登陆时间</th>
                    <th>登陆ip</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>admin</td>
                    <td>2014年6月20日 21:46:58</td>
                    <td>101.12.20.45</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>admin</td>
                    <td>2014年6月20日 21:46:58</td>
                    <td>101.12.20.45</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>admin</td>
                    <td>2014年6月20日 21:46:58</td>
                    <td>101.12.20.45</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>admin</td>
                    <td>2014年6月20日 21:46:58</td>
                    <td>101.12.20.45</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>admin</td>
                    <td>2014年6月20日 21:46:58</td>
                    <td>101.12.20.45</td>
                </tr>
                </tbody>
            </table>
            <p>说明：</p>
            <ol>
                <li>用户所有的登陆历史均有记录</li>
                <li>默认只显示用户最近5条的登陆记录</li>
            </ol>
            <div class="inset">
                <hr/>
                <strong>@Facewin</strong> Email: Facewin@facewin.com
            </div>
        </div>
    </div>
</body>
</html>