<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="author" content="; sekiyika"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="SHORTCUT ICON" href="http://www.baidu.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="style/docs.css"/>
    <link rel="stylesheet" type="text/css" href="style/sidebar.css"/>
    <link rel="stylesheet" type="text/css" href="style/datepicker.css"/>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <title>员工信息 - 添加</title>
</head>
<body>
<div id="wrapper">
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="#">员工信息</a></li>
        <li>
            <ul class="sidebar-subnav">
                <li><a href="queryEmployee.html">查询员工信息</a></li>
                <li><a href="addEmployee.html">添加员工信息</a></li>
                <li><a href="importEmployee.html">添加员工信息（Excel）</a></li>
                <li><a href="dimissionEmployee.html">员工离职</a></li>
                <li><a href="index.html">返回首页</a></li>
            </ul>
        </li>
    </ul>
</div>
<div id="page-content-wrapper">
<div class="content-header">
    <h1>员工信息 - 查看</h1>
</div>
<div style="padding: 20px;">

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-1 control-label" for="exampleInputEmail2">员工：</label>

            <div class="col-sm-2">
                史唯实
            </div>
            <button type="button" class="canzhao btn btn-default pull-left invisible">今天</button>
            <label class="col-sm-1 control-label">身份证号码：</label>

            <div class="col-sm-2">
                610623198812121
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label" for="exampleInputEmail2">所在公司工号 </label>

            <div class="col-sm-2">
                A122121
            </div>
            <button type="button" class="canzhao btn btn-default pull-left invisible">今天</button>
            <label class="col-sm-1 control-label">所属一级商户 </label>

            <div class="col-sm-2">
                韵达
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">所属二级商户 </label>

            <div class="col-sm-2">
                韵达上海
            </div>
            <button type="button" class="canzhao btn btn-default pull-left invisible">今天</button>
            <label class="col-sm-1 control-label">所属三级商户 </label>

            <div class="col-sm-2">
                韵达上海一部
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" for="exampleInputEmail2">性别 </label>

            <div class="col-sm-2">
                男
            </div>
            <button type="button" class="canzhao btn btn-default pull-left invisible" data-value="2014-01-12">
                今天
            </button>
            <label class="control-label col-sm-1">出生日期 </label>

            <div class="col-sm-2">
                1986-10-08
            </div>
            <button type="button" class="canzhao btn btn-default pull-left invisible" data-value="2014-01-12">
                今天
            </button>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label" for="exampleInputEmail2">合同起始时间 </label>

            <div class="col-sm-2">
                1986-10-08
            </div>
            <button type="button" class="canzhao btn btn-default pull-left invisible">今天</button>
            <label class="control-label col-sm-1">合同到期时间 </label>

            <div class="col-sm-2">
                1986-10-08
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label" for="exampleInputEmail2">社保参保时间 </label>

            <div class="col-sm-2">
                1986-10-08
            </div>
            <button type="button" class="canzhao btn btn-default pull-left invisible">今天</button>
            <label class="control-label col-sm-1">社保停保时间 </label>

            <div class="col-sm-2">
                1986-10-08
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" for="exampleInputEmail2">养老基数 </label>

            <div class="col-sm-2">
                1212
            </div>
            <button type="button" class="canzhao btn btn-default pull-left invisible">今天</button>
            <label class="col-sm-1 control-label" for="exampleInputEmail2">医疗基数 </label>

            <div class="col-sm-2">
                123
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" for="exampleInputEmail2">失业基数 </label>

            <div class="col-sm-2">
                213
            </div>
            <button type="button" class="canzhao btn btn-default pull-left invisible">今天</button>
            <label class="col-sm-1 control-label" for="exampleInputEmail2">工伤基数 </label>

            <div class="col-sm-2">
                3423
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" for="exampleInputEmail2">生育基数 </label>

            <div class="col-sm-2">
                1212
            </div>
            <button type="button" class="canzhao btn btn-default pull-left invisible">今天</button>
            <label class="col-sm-1 control-label" for="exampleInputEmail2">大病基数 </label>

            <div class="col-sm-2">
                43
            </div>
            <label class="col-sm-1 control-label" for="exampleInputEmail2">公积金基数 </label>

            <div class="col-sm-2">
                1212
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label">缴纳城市 </label>

            <div class="col-sm-2">
                北京
            </div>
            <button type="button" class="canzhao btn btn-default pull-left invisible">今天</button>
            <label class="col-sm-1 control-label" for="exampleInputEmail2">保险帐套 </label>

            <div class="col-sm-2">
                北京三险
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label">学历</label>

            <div class="col-sm-2">
                硕士
            </div>
            <button type="button" class="canzhao btn btn-default pull-left invisible">今天</button>
            <label class="col-sm-1 control-label" for="exampleInputEmail2">部门</label>

            <div class="col-sm-2">
                1212
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" for="exampleInputEmail2">成本中心</label>

            <div class="col-sm-2">
                yunda
            </div>
            <button type="button" class="canzhao btn btn-default pull-left invisible">今天</button>
            <label class="col-sm-1 control-label" for="exampleInputEmail2">手机号</label>

            <div class="col-sm-2">
                132322323
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" for="exampleInputEmail2">QQ号</label>

            <div class="col-sm-2">
                2311432
            </div>
            <button type="button" class="canzhao btn btn-default pull-left invisible">今天</button>
            <label class="col-sm-1 control-label" for="exampleInputEmail2">户籍地址</label>

            <div class="col-sm-2">
                321131232
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary"> 返回</button>
            </div>
        </div>
    </form>
</div>
<div class="inset">
    <hr/>
    <strong>@Facewin</strong> Email: Facewin@facewin.com
</div>
</div>
</div>
</body>
</html>